<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :slug %>
  <%= f.text_field :slug %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body, :style => "width: 700px; height: 300px;" %>
</p>

