<table cellspacing="0" cellpadding="0" class='grid'>
  <col width='70%'/>
  <col width='10%'/>
  <col width='20%'/>
<thead>    
  <tr>    
    <th>Title</th>
    <th>Slug</th>
    <th>Option</th>
  </tr>
</thead>
<tbody>  
  <% @pages.each do |page| -%>
    <tr>
      <td class='title'><%= page.title %></td>
      <td>/<%= page.slug %></td>
      <td>
        <%= link_to 'View', "/#{page.slug}", :target => '_blank' %> |
        <%= link_to 'Edit', edit_admin_page_path(page) %> |
        <%= link_to 'Delete', admin_page_path(page), :method => 'delete', :confirm => 'Are you sure？' %>
      </td>
    </tr>
  <% end -%>                                              
</tbody>
</table>

<%= link_to 'New', new_admin_page_path,:class => 'btn' %>
