<%= content_for :pagenav do -%>  
<div id="page_nav">
   <span><%= t(:signup) %></span> 
</div>
<% end %>

<div class = 'prepend-6 span-12'>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for @user %>
<% form_for :user, :url => users_path, :html => {:multipart => true,:class => 'prepend-1'} do |f| -%>
  <p>
    <%= label_tag t(:name) %> <br />
    <%= f.text_field :login %><span style="color:red"><%= @user.errors.on(:login) %></span>
  </p>

  <p>
    <%= label_tag 'Email' %><br />
    <%= f.text_field :email %><span style="color:red"><%= @user.errors.on(:email) %></span>
  </p>
  
  <p>
    <%= label_tag 'password', t(:password) %><br />
    <%= f.password_field :password %><span style="color:red"><%= @user.errors.on(:password) %></span>
  </p>

  <p>
    <%= label_tag 'password_confirmation', t(:password_confirmation) %> <br />
    <%= f.password_field :password_confirmation %><span style="color:red"><%= @user.errors.on(:password_confirmation) %></span>
  </p>

  <p><%= submit_tag t(:create),:class => 'submit' %></p>
<% end -%>
</div>