<div style='clear:both;'></div>
<div id='footer'>
    <a href="http://www.thundersurvey.com/about"><%= t(:about) %></a> | 
    <a href="#"><%= t(:contact) %></a> |
    <a href="#"><%= t(:feedback) %></a> |
    <a href="#"><%= t(:services) %></a> |
    <br /> <br />
    <span>
      <%=raw t(:copy) %>
      <%=raw t(:sandsroad) %>
    </span>
</div>

