<div class='header'>
  <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
  <div class="logo span-16" >
     <h1 style="font-family: 'Cardo', arial, serif; color:#2c87E5;">ThunderSurvey</h1>
  </div>
  
  <div class='login span-8 last'>   
    <% if logged_in? %>
     <ul class="panel"> 
      <li><%=link_to(t(:my_surveys), forms_path)%></li>
      <li><%=link_to(t(:tutorials), '#' )%></li>
      <li><%=link_to(t(:account),account_path) %></li>
      <li><%= link_to(t(:logout), logout_path) %></li>
     </ul>
    <% else %>
      <%= link_to t(:signup), signup_path %>
      <%= t(:have_an_account) %><a href='/login' class='signin'><span><%= t(:login) %></span></a>
      <div id="signin_menu">
        <%= form_tag session_path,:class => 'login_form' do %>  
          <p>
            <label for="username">Email</label><br />
            <%= text_field_tag 'email', @email %>
          </p>
          <p>
            <%= label_tag 'password', t(:password) %>
            <%= password_field_tag 'password', nil %> 
          </p>
          <p><%= submit_tag t(:login),:class => 'submit' %> <br /><%=link_to t(:forgot_password),forget_password_path%></p> 
          <h4><%= t(:login_with_others) %></h4>
          <ul>
            <li><a href="/oauth/login/google" class='google' >Google</a></li> 
          </ul>        
          <div style='clear:both'></div>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= link_to 'English', lang_path(:locale => 'en'), :method => 'put' %> |
      <%= link_to '简体中文', lang_path(:locale => 'zh-CN'), :method => 'put' %> 
    </p>
    <%= render :partial => '/shared/notice' %>
  </div>  
</div>
<% if logged_in? && current_user.temp? %>
<div style="padding:10px 10px;background:#FF8888;color:#333;font-size:14px;">
  <%= t(:temp_account) %><%= link_to t(:create_real_account), signup_path,:class => 'ag' %>
</div>
<% end %>