<div class='section'>
  <div class='box'>
  <h3>Form Summary</h3>
  Total <%=Form.count%> surveys, <%= Form.sum(:rows_count) %> answers.
  </div>
  <div class='box'>
  <h3>User summary</h3> 
  Total <%=User.count%> users.
  </div>
  <div style='clear:both;'>
    
  </div>
</div>
<div class='section' >
<h3>Recent 10 surveys</h3>      
<%= render :partial => '/admin/forms/forms',:locals => {:forms => @recent_forms} %>    
</div>   
<div class='section' >
<h3>Recent 10 users</h3>
<table cellspacing="0" cellpadding="0" class='grid'>
<thead>
  <tr>
    <th>login</th>  
    <th>Email</th>
    <th>Time</th>
    <th>Options</th>
  </tr>
</thead>
<tbody> 
  <% @recent_users.each do |user| -%>  
  <tr>            
    <td><%=link_to user.login,admin_user_path(user) %></td>
    <td><%=user.email%></td>  
    <td><%=user.created_at %></td>
    <td><%=link_to 'delete',admin_user_path(user),:method => :delete,:confirm => 'are you sure?' %></td>
  </tr>
  <% end -%> 
</tbody>
</table>
</div>