<table cellspacing="0" cellpadding="0" class='grid'>  
  <col width='45%' />
  <col width='6%' />
  <col width='12%'/> 
  <col width='7%'/>
  <col width='20%' />
  <thead>   
    <tr>    
      <th>标题</th>
      <th>回应</th>
      <th>最后更新</th>
      <th>用户名</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>  
    <% forms.each do |form| -%>
      <% next if form.user.nil? %>
      <tr>
        <td class='text-left'><%=link_to form.title, admin_form_path(form)%> <br /><span class='gray'><%= form.description %></span></td>
        <td><%= form.klass.count %></td>
        <td><%= form.updated_at.strftime("%m/%d %H:%M") %></td>
        <td><%=link_to truncate(form.user.login,:length => 10),admin_user_path(form.user) %></td>            
        <td><%=link_to '查看', form_path(form), :target => '_blank' %> | <%= recommand_link(form) %> | <%=link_to('删除',admin_form_path(form), :method => :delete) %></td>   
      </tr>
    <% end -%>                                              
  </tbody>
  </table>        