<div class='field' id="<%= field.id %>">
  <div class="question" id="question<%= field.id %>">
    <div class='qustion_label'>
       <%= label_tag field.id,field.name, :class => 'q_title'%><%=content_tag(:abbr,'*',:class=> 'required') if field.required %>
    </div>
    <%= render :partial => "/forms/#{field.input}_field", :locals => {:field => field, :row => row} %>  <span id="<%=field.id%>_field" class='error'></span>  
    <br />
    <span class="prompt"><%=h field.prompt %></span>
  </div>
</div>
