<%= form_for(@form, :url => form_path(@form, :edit_key => @edit_key), :html => {:id => 'edit_form', :method => 'put'}, :remote => true) do |f| %>
  <%#= f.error_messages %> 
  <!-- 表单头 -->
  <div id="form_header">
     <%= render :partial => 'form', :object => f %>
  </div>  
  
  <%=f.submit 'submit',:id => 'form_submit',:style => 'display:none;' %>
  <div id="field_positions" style="display:none"></div>
  <div style='clear:both;'></div>  
<% end %> 

<!-- 表单通知设定 -->
<div style="display:none;" id="notify_setting" class='dialog'> 
  <%= form_for(@form, :url => form_path(@form, :edit_key => @edit_key, :mod => 'dialog'),:html => {:class => 'setting_form'}, :remote => true) do |f| -%> 
  
  <p id="email_notify">
    <%= f.check_box :email_notify %> <b><%= t(:send_email_when_receive_new_answer) %></b>
  </p>

  <p>
    <%= f.label :thanks_message, t(:thanks_message) %>
    <%= f.text_area :thanks_message, :cols => 42, :rows => 4, :style => "width:350px; height:80px;" %>
  </p>  
  <p>
    <%= f.check_box :publish_response,:value => false %> <b><%= t(:make_results_public) %></b>
  </p>                           
  <%=f.submit t(:update),:onclick => "$('#saving').show();" %>
  <% end -%>
</div>

<!-- 表单密码设定 -->
<div style="display:none;" id="password_setting" class='dialog'> 
  <%= form_for(@form, :url => form_path(@form, :edit_key => @edit_key, :mod => 'dialog'),:html => {:class => 'setting_form'}, :remote => true) do |f| -%> 
  
  <p>
    <%= f.label :password, t(:access_password) %><br />
    <%= f.password_field :password, :size => 40 %><br />
    <span class="prompt"><%= t(:optional) %></span>
  </p>
  
  <p>
    <%= f.label :end_at, t(:end_at) %><br />
    <%= f.text_field :end_at, :size => 20 %><br />
    <span class="prompt"><%= t(:optional) %></span>
  </p>
  
  <%=f.submit t(:save),:onclick => "$('#saving').show();" %>
  <% end -%>
</div>