<%= content_for :headers do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
      $('#opt .button').button();
     })    
  </script>
<% end %>

<div id='results'>
  <div class='section_nav'>
    <div class='section_title'>
      <%= link_to '所有问卷', forms_path %> \ <%= @form.title %> (<%=@form.klass.count %>)
    </div>
    <div class='section_button'>
      <%=link_to t(:export_to_csv),form_rows_path(@form, :format => :csv, :edit_key => @form.edit_key),:target => '_blank',:class => 'ag' %> 
      <%=link_to t(:export_to_xls),form_rows_path(@form, :format => :xls, :edit_key => @form.edit_key),:target => '_blank',:class => 'ag' %>
    </div>
  </div>
  <%= render :partial => 'chart',:collection => @form.fields,:as => :field %>
</div>

<% content_for :sidebar do %>  
  <%= render :partial => '/rows/answer_sidebar' %> 
<% end %>