<%=raw(will_paginate @events,:class => 'flickr_pagination',:previous_label => '前翻',:next_label => '后翻') %>
<table cellspacing="0" cellpadding="0" class='grid'>
<thead>
  <tr>
    <th>login</th>  
    <th>Email</th>
    <th>Time</th>
    <th>Options</th>
  </tr>
</thead>
<tbody> 
  <% @users.each do |user| -%>  
  <tr>            
    <td><%=link_to user.login,admin_user_path(user) %></td>
    <td><%=user.email%></td>  
    <td><%=user.created_at%></td>
    <td><%=link_to 'Delete',admin_user_path(user),:method => :delete,:confirm => 'Are you sure?' %></td>
  </tr>
  <% end -%> 
</tbody>
</table>    
<%=raw(will_paginate @events,:class => 'flickr_pagination',:previous_label => 'Prev',:next_label => 'Next') %>
