<div class="options">
  <% field.options.each do |option| %>
    <%= render :partial => '/shared/check_option', :locals => {:value => option.value, :parent => parent, :field => field} %>
  <% end if field %>
  <% if field.nil? || field.options.size == 0 %>
    <%= render :partial => '/shared/check_option', :locals => {:value => t(:option_one), :parent => parent, :field => field} %>
  <% end %>
</div>

<div>
  <p>
    <input type="checkbox" style="opacity:0.5;"/>
    <%= text_field_tag "option", "", :onfocus => "field_add_option(this, 'check');", :style => "opacity:0.5;" %>
    <%= check_box_tag "field_include_other", "1", field.nil? ? false : field.include_other, :onchange => 'toggle_other(this);', :name => 'field[include_other]' %> <%= t(:add_other) %>
  </p>
  <p style="<%= 'display:none;' unless field && field.include_other %>" class="form_other"><input type="checkbox"  style="opacity:0.5;"/> <%= t(:other) %> <%= text_field_tag 'other', '', :style => "opacity:0.5;" %></p>
</div>