<div class="field edit" onmouseover="toggle_opration(this, true);" onmouseout="toggle_opration(this, false);" id="<%= field.id %>">
  <div class="opration" style="display:none;">
    <% if field.intern.blank? -%>  
      <%= link_to(t(:edit), "#", :onclick => "field_start_editing(this);return false;", :class => 'ag') %>  
      <%= link_to(t(:duplicate), "#", :onclick => "form_dup_field(this);return false;", :class => 'ag') %> 
      <%= link_to(t(:delete), form_field_path(parent, field.id, :edit_key => parent.edit_key),
                        :update => "flash",
                        :method => "delete",
                        :confirm => t(:are_you_sure),
                        :remote => true, :class => 'remove ag') %>  
    <% else %>
      <%= t(:reserved) %>
    <% end -%>
  </div>
  <div class="question" ondblclick="field_start_editing(this);">     
    <%= label_tag field.id,field.name, :class => "q_title" %><%=content_tag(:abbr,'*',:class=> 'required') if field.required %>
    <div class="input">
      <%= render :partial => "/forms/#{field.input}_field", :locals => {:field => field, :row => @row} %>
      <br />
      <span class="prompt"><%=h field.prompt %></span>    
    </div>
  </div>
  <div class="form edit" style="display:none;">
    <%= render :partial => "/fields/form", :locals => {:parent => parent, :field => field, :row => @row} %>
  </div>
</div>
