<%= form_for [parent, field], :html => {:class => 'field_form'}, :remote => true do |form| %>
  <p>
    <%= form.label :name, t(:title) %>   
    <%= form.text_field :name, :onfocus => "clear_initial(this);",:onblur => "set_initial(this)" %> 
    <%= hidden_field_tag :edit_key, parent.edit_key %>
    <%= form.hidden_field :uuid %> 
    <%= form.hidden_field :position,:class => 'field_position' %>
  </p>  
  <p>
    <%= form.label :prompt, t(:hints) %>
    <%= form.text_field :prompt %>  
  </p>
  
  <p>
    <%= form.label :input, t(:type) %>
    <%= form.select :input, Field::TYPES.map{|h| [t(h[0]), h[1]]},{}, :onchange => "field_input_changed(this)" %>
  </p>
  
  <div class="input_options">
    <%= render :partial => "/fields/#{field.input}_form", :locals => {:form => form, :field => field, :parent => parent, :row => @row} %>
  </div>
  
  <p style='margin-top:10px;'>
    <%= form.submit t(:save), :onclick => 'field_done_editing(this);return false;',:class => 'commit' %>
    <%= form.check_box :required %>    
    <%= form.label :required, t(:required) %>
     <%#= link_to('取消', '#', :onclick => "field_cancel_editing(this);", :remote => true) %>
  </p>   
<% end %>