<!doctype html>      
<html lang="zh">
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name='viewport' content='width=device-width' />
  <meta charset="utf-8" />
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  <%= stylesheet_link_tag 'framework/reset','framework/general','framework/grid', 'admin',"jquery-ui", "formtastic_changes", :cache => 'admin.cache'  %>
  <%= javascript_include_tag "jquery", "jquery-ui", "jrails", "application", "rails", :cache => 'admin.cache' %>
  <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
  <![endif]-->
  <%=yield :headers %>
  <title>Backend</title>

</head>

<body>  
  <div id="main_container">
    <header id='system'>   
        <nav class='login'>
          <% if logged_in? %>	
            <a href="/">Back to front</a> 
            <%= link_to 'Logout', logout_path, :method => 'delete' %>
          <% end %>
        </nav>
        <div class="logo">
            <h1>ThunderSurvey</h1>
        </div>   
        <nav class='nav'>
          <ul>                                               
            <%=topnav_tab "Summary",:url => admin_path,:section => 'dash' %>
            <%=topnav_tab "Form",:url => admin_forms_path,:section => 'forms' %>
            <%=topnav_tab "User",:url => admin_users_path, :section => 'users' %>
            <%=topnav_tab "CMS", :url => admin_pages_path, :section => 'pages' %>
          </ul>  
        </nav>
       <%= render :partial => '/shared/notice' %> 
    </header>
    <section class="container">
        <%= yield :page_guide %>
        <div class='span-18 main_content'>
           <%= yield %>
        </div>
        <div class='span-5 last sidebar'>
           <%= yield :sidebar %>
        </div>
    </section>
  </div>
</body>
</html>
