<!doctype html>      
<html lang="zh">
<head>
  <%= render :partial => '/shared/head' %>
</head>
<body>     
  <%= render :partial => '/shared/header' %>  
	<div class="container">   
      <div class='span-5'>
	       <%= yield :sidebar %>
	    </div>
      <div class='span-18 content last'>
         <%= yield %> 
      </div>
  </div>    
  	    <%= render :partial => '/shared/footer' unless controller.class == FormsController && action_name == 'edit' %>      
</body>
</html>
