<%= content_for :headers do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
      $('#opt .button').button();
     })    
  </script>
<% end %>
 
<div id='results'>      
  <div class='section_nav'>
    <div class='section_title'>
      <%= link_to '所有问卷', forms_path %> \ <%= @form.title %> (<%=@form.klass.count %>)
    </div>
    <div class='section_button'>
      <%=link_to t(:export_to_csv),form_rows_path(@form, :format => :csv, :edit_key => @form.edit_key),:target => '_blank',:class => 'ag' %> 
      <%=link_to t(:export_to_xls),form_rows_path(@form, :format => :xls, :edit_key => @form.edit_key),:target => '_blank',:class => 'ag' %>
    </div>
  </div>
  <table id='rows' cellspacing="0" cellpadding="0" class='grid'>  
  <thead>
    <tr>      
      <th><%= t(:timestamps) %></th>
      <% @form.fields.each do |field| %>
      <th><%=truncate field.name,:length => 12%></th> 
      <% end %>
    </tr>
  </thead>
  <tbody>  
 <% @rows.each do |row| %>
  <tr id="<%=row.id%>">              
    <td><div class='info_item time'><%=row.created_at.to_time.to_formatted_s(:datetime_short)%></div></td> 
    <% @form.fields.each do |field| %>         
      <td><div class='info_item'><%=row.send("f#{field.id}") %></div></td>
    <% end -%>              
  </tr>      
  <% end -%>
  </tbody>
</table>   
</div>             
<div style='clear:both'></div>
<div style='margin:10px;'>
  <%=raw will_paginate @rows,:class => 'flickr_pagination',:previous_label => t(:prev),:next_label => t(:next) %>   
</div>
<div class='tip'><%= t(:expand_tips) %></div>      
<% @rows.each do |row| %>                    
<div id="row_<%=row.id%>"  style="display:none;">
  <h3><%= t(:detail_answer) %></h3>           
  <div class='row_content'>
  <table class='grid big' cellspacing="0" cellpadding="0"> 
    <col width='30%'>
    <col width='70%'>
    <tbody>
      <% @form.fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %>
        <tr>
          <td class='name'><%= field.name %></td>
          <td><%= row.send('f' + field.id)%></td>
        </tr>
      <% end %>
     </tbody>
    </table> 
     </div>     
    <div style='text-align:center;'>
      <%=link_to t(:edit),edit_form_row_path(@form,row, :edit_key => @form.edit_key),:class => 'ag'%>  <%=link_to t(:delete), form_row_path(@form, row, :edit_key => @form.edit_key), :confirm => t(:are_you_sure), :method => 'delete', :class => 'ag'%>
    </div>
</div>    
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'rows/answer_sidebar' %> 
<% end %>